body {
	background-color: #8FBC8F;
}

button {
	
	padding: 2rem;
}

#Color-Button-Wrapper {
	display: flex;
	padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 50px;
    justify-content: space-between;
    border-radius: 50%;
}

.start-game-button {
	display: flex;
	justify-content: center;
	border-radius: 50%;
}

.red {
	background-color: rgba(255,0,0,1);
	border-radius: 50%;
	
}

.green {
	background-color: rgba(0,255,0,1);
	border-radius: 50%;
	}

.blue {
	background-color: rgba(0,0,255,1);
	border-radius: 50%;
	
}

.yellow {
	background-color: rgba(255,255,0,1);
	border-radius: 50%;

}

.flash-button {
	 opacity: 0.2;
}

